@import './breakpoints';

@mixin section-styles($border, $name-color, $graduate-color, $description-color, $quote-color, $quote-margin, $quote-margin-desktop) {
    img {
        border: $border;
    }

    .profile-info {
        .name {
            color: $name-color;
        }

        .graduate {
            color: $graduate-color;
        }
    }

    .description {
        color: $description-color;
    }

    .quote {
        color: $quote-color;
        margin-top: $quote-margin;

        @include breakpoint(large) {
            margin-top: $quote-margin-desktop;
        }
    }
}

